.digitalClockContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
  position: relative;
  top: 6rem;
  left: 1rem;
}

.nextSignal {
  /* font-style: small; */
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: capitalize;
  font: "FONTSPRING DEMO Artegra Sans Ex Alt";
}

.digitalClockContainer > span {
  display: flex;
  align-items: center;
  width: 9px;
}

.minutes, .seconds {
  display: flex;
  gap: 0.7rem;
  /* width: 17px !important; */
  /* height: 17px !important; */
  
}

.minutes > div, .seconds > div {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.163) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(7.23096px);
  border-radius: 0.85px;
  padding: 8px;
  width: 10px; /* Ajuste conforme necessário */
  height: 23px; /* Ajuste conforme necessário */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 
  0.5px 0 0 0 rgba(255, 255, 255, 0.5), /* Direita */
  0 0.31px 0 0 rgba(255, 255, 255, 0.5); /* Inferior */
}

.digitalClockContainer > span > p, .minutes, .seconds {
  font-family: "Digital Numbers Regular";
  /* font-size: clamp(0.5rem, 0.5rem + 1.3vw, 2.7rem); */
  font-size: 16px;

  
}
/* 
@media (max-width: 1228px) {
  .nextSignal {
    letter-spacing: 0.02em;
  }
}

@media (min-width: 1470px) {
  .nextSignal {
    letter-spacing: 0.07em;
  }
}

@media (min-width: 1552px) {
  .nextSignal {
    letter-spacing: 0.096em;
  }
}

@media (min-width: 1669px) {
  .nextSignal {
    font-weight: 400; 
    letter-spacing: 0.12em;
  }
} */
